<ion-header [translucent]="true">
  <ion-toolbar>

    <img id="header-img" src="/assets/photos/img.png" alt="photos">
<p>
  :
  کد فروشگاه
 <br>
  1231564
</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--  <app-explore-container name="Tab 2 page">-->


  <!--  </app-explore-container>-->
  <div class="container" id="div_main">

    <ion-fab id="new_user" vertical="top" horizontal="start">
      <ion-fab-button>
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <ion-fab id="technical_support" vertical="bottom" horizontal="start">
      <ion-fab-button>
        <ion-icon name="mic-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <!--   <ion-button id="new_user" >-->
    <!--     <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">-->
    <!--       <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>-->
    <!--       <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>-->
    <!--     </svg>-->
    <!--   </ion-button>-->
  </div>
  <br>
  <ion-item>
    <ion-button id="check_button" size="default">بررسی</ion-button>
    <ion-input dir="rtl" placeholder="کد مشتری"></ion-input>

  </ion-item>


</ion-content>

